extends ./layout/index

block contenido 
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="Nosotros", class="img-fluid")

            .col-md-7
                h1= title
                blockquote Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus iusto nam vitae quo non itaque culpa nisi impedit, magnam modi maxime dolorem harum asperiores dignissimos consequuntur voluptatibus architecto suscipit accusamus?

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta eaque quia placeat id repellat ex dicta minus, recusandae suscipit, impedit ipsa, enim quam dolores laborum blanditiis cumque. Ratione ab, et, saepe qui at laboriosam iure distinctio neque temporibus eum aut? Voluptates, blanditiis, quaerat quod aperiam atque obcaecati voluptate ad dolor, doloribus eius aliquid eligendi.

                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam doloremque dicta et eum voluptas eos aliquid adipisci corporis aliquam illum unde sit harum alias nemo est sint, ex quod distinctio impedit quas eligendi praesentium. Debitis ipsa vel iste eum minus beatae, necessitatibus rerum doloremque labore nemo nisi natus! Omnis, laborum.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.    

                .col-md-4
                    img(src="img/icono_precios.svg", alt="Precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.

    