footer.container.py-5
    .row 
        .col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                ul.nav.nav-pills.nav-fill
                    li.nav-item
                        a.nav-link(href="/") Inicio
                    li.nav-item
                        a.nav-link(href="/nosotros") Nosotros
                    li.nav-item
                        a.nav-link(href="/viajes") viajes
                    li.nav-item
                        a.nav-link(href="/testimoniales") testimoniales
                            
        .col
            p.copyright.text-center.text-md-right
                | Todos los derechos reservados &copy;
                span=year